<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Vue To Do List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body class="bg-info">
    <div id="app">
        <div class="container p-5">
            <h1 class="text-white text-center text-uppercase">Assembla il tuo pc</h1>
            <form>  
                <div class="mb-3">
                  <div>
                    <label class="form-label fs-4 text-white w-50">Inserisci qui il componente che vuoi acquistare</label>
                    <label class="form-label fs-4 text-white ms-2">Marca</label>
                  </div>
                  <input type="text" class="form-control w-50 d-inline-block" name="element" id="element" v-model="newComponent">
                  <select class="form-select w-25 d-inline-block ms-2" v-model="brand">
                    <option value="Nvidia" selected>Nvidia</option>
                    <option value="Intel">Intel</option>
                    <option value="MSI">MSI</option>
                    <option value="Gigabyte">Gigabyte</option>
                    <option value="Lenovo">Lenovo</option>
                    <option value="HP">HP</option>
                    <option value="Razer">Razer</option>
                    <option value="Asus">Asus</option>
                    <option value="Dell">Dell</option>
                    <option value="Acer">Acer</option>
                    <option value="Microsoft">Microsoft</option>
                    <option value="Altro">Altro</option>
                  </select>
                  <button type="submit" class="btn btn-primary ms-2" @click.prevent="InsertElement">Invio</button>
                </div>
            </form>
            <h2 class="text-center text-white">Lista componenti:</h2>
            <div class="d-flex justify-content-center">
              <ul class="list-group w-50 pt-4" v-if="listComponent.length > 0">
                <li class="list-group-item d-flex justify-content-between align-items-center" :class="{ active: listComponent[index].active}" v-for="(component, index) of listComponent">
                  <span class="w-100 h-100 fs-4" @click="done(index)">{{component.brand}}: {{component.name}}</span>
                  <button class="btn btn-danger" @click="deleteElement(index)"><i class="fa-regular fa-trash-can"></i></button>
                </li>
              </ul>
              <h2 v-else class="text-warning fs-1 p-5">La lista è vuota</h2>
            </div>
        </div>
    </div>
    

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script type="text/javascript" src="./js/script.js"></script>
</body> 
</html>